---
layout: default
---
{%- assign url_segments = page.url | split: '/' -%}
{%- assign relative_depth = url_segments.size | minus: 1 -%}
{%- assign relative_prefix = "" -%}
{%- if relative_depth > 0 -%}
  {%- for i in (1..relative_depth) -%}
    {%- assign relative_prefix = relative_prefix | append: "../" -%}
  {%- endfor -%}
{%- endif -%}

<div class="container">
  <div class="home-intro">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </div>

  <div class="posts-timeline">
    {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <div class="timeline-year-group">
        <h2 class="timeline-year">{{ year.name }}</h2>
        <ul class="timeline-posts">
          {% for post in year.items %}
            {% assign post_url_clean = post.url | remove_first: '/' %}
            <li class="timeline-post-item">
              <time class="timeline-post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d" }}</time>
              <a class="timeline-post-link" href="{{ relative_prefix }}{{ post_url_clean }}">{{ post.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
